/**
* Cambiando estilos de las etiquetas semánticas
* @font-face es para agregar una nueva fuente, pueden descargar esta del
* siguiente enlace: https://www.dafont.com/liberation-sans.font
*/

@font-face {
  font-family: "Liberation Sans";
  src: url('../fonts/liberation_sans/LiberationSans-Regular.ttf');
}

@font-face {
  font-family: "Liberation Sans";
  src: url('../fonts/liberation_sans/LiberationSans-Bold.ttf');
}

body {
  font-family: "Liberation Sans", sans-serif;
}

/**
* Paddings y márgenes
*/

.has-small-padding {
  padding: 0.5em 0.2em;
}

.has-medium-padding {
  padding: 3em;
}

/**
* Colores
*/

.has-text-dark-red {
  color: #BD081C;
}

.has-bg-white {
  background-color: white;
}

/**
* Formas
*/

a.button.is-nav-item {
  border-radius: 999px;
  color: #9c9c9c;
  border-color: transparent;
}

a.button.is-nav-item.is-active {
  color: #555555;
}

a.button.is-nav-item:hover {
  background-color: rgba(0,0,0,0.06);
}

/**
* Posicionamiento
*/

.is-vertically-aligned-center {
  display: flex;
  align-items: center;
}

.starts-at-end {
  display: flex;
  justify-content: flex-end;
}

/* .tag.is-large {
  margin-right: 1em;
} */

/**
* Estilos específicos de elementos únicos
*/

#main-searchbar {
  background-color: #efefef;
}

#main-searchbar::-webkit-input-placeholder {
  color: #757575;
  font-weight: bold;
  font-family: "Liberation Sans", sans-serif;
}

#logo {
  padding: 0.2em;
}

#logo:hover {
  color: #BD081C;
  background-color: rgba(0,0,0,0.06);
  border-radius: 100%;
}

#navbar {
  border-bottom: 1px solid rgba(0,0,0,0.06);
}

#tags {
  margin-top: 5em;
  padding-left: 1em;
  padding-right: 0.5em;
}

#tags div {
  margin-right: 0.5em;
}

#tags .tag {
  font-size: 0.875em;
  padding: 2em;
  background-color: purple;
  color: white;
  border-radius: 6px;
}

#modal {
  margin-top: 5em;
  overflow: visible;
}

.item {
  margin: 0 0 1em;
  width: 100%;
  padding: 0.7em;
  border-radius: 5%;
  color: #757575;
}

.item:hover {
  background-color: #efefef;
}

.item img {
  border-radius: 5%;
}

.modal {
  display: flex;
  margin-top: 5em;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.modal-content {
  background-color: white;
}

.modal.is-active {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

/**
* Clases temporales que me ayudarán con el posicionamiento
*/

.columns {
  border: 1px solid red;
}

.column {
  border: 1px solid black;
}

@media screen and (min-width: 1024px) {
  
  #main-container {
    column-count: 4;
    column-gap: 1em;
  }

}

@media screen and (max-width: 1023px) {
  
  #main-container {
    column-count: 3;
    column-gap: 1em;
  }

}

@media screen and (max-width: 768px) {
  
  #main-container {
    column-count: 2;
    column-gap: 1em;
  }

}

@media screen and (max-width: 550px) {
  
  #main-container {
    column-count: 1;
    column-gap: 1em;
  }

}

@media (max-width: 768px) {
  .has-no-padding-sides {
    padding: 12px 0px;
  }
}


/**
* 
*/